<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="/imgs/drop-date-favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Drop Date - Media Release Info</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vibrant.js/1.0.0/Vibrant.js"></script>
</head>

<body ng-app="myApp">
<!-- =============================== NAVBAR =============================== -->
  <nav id="navbar">
    <div id="navbar-inner">
      <div id="hamburger-container">
        <button id="hamburger-menu" type="button" aria-label="dropdown navigation toggle"
        navbar-dropdown ng-click="toggleDropdownNav()">
          <div id="hamburger-bar-top" class="hamburger-bar rotate-bar-top"></div>
          <div id="hamburger-bar-middle" class="hamburger-bar hamburger-bar-middle hide-bar-middle"></div>
          <div id="hamburger-bar-bottom" class="hamburger-bar rotate-bar-bottom"></div>
        </button>
      </div>

      <div id="navbar-search-toggle-container-left">
        <button id="navbar-search-toggle-left" type="button" aria-label="dropdown search toggle"
        navbar-dropdown ng-click="toggleDropdownSearch()">
          <i class="fas fa-search search-toggle-icon-open"></i>

          <div class="search-toggle-icon-close">
            <div class="hamburger-bar rotate-bar-top"></div>
            <div class="hamburger-bar hamburger-bar-middle hide-bar-middle"></div>
            <div class="hamburger-bar rotate-bar-bottom"></div>
          </div>
        </button>
      </div>

      <ul id="navbar-page-link-list">
        <li id="game-view-link">
          <a href="#/games/">Games</a>
        </li>
        <li id="movie-view-link">
          <a href="#/movies/">Movies</a>
        </li>
        <li id="tv-view-link">
          <a href="#/tv/">TV</a>
        </li>
      </ul>

      <a id="drop-date-logo" href="#/home/"><img src="/imgs/drop-date-logo.png"></a>

      <div id="navbar-search-toggle-container-right">
        <button id="navbar-search-toggle-right" type="button" aria-label="dropdown search toggle"
        navbar-dropdown ng-click="toggleDropdownSearch()">
          <i class="fas fa-search search-toggle-icon-open"></i>

          <div class="search-toggle-icon-close">
            <div class="hamburger-bar rotate-bar-top"></div>
            <div class="hamburger-bar hamburger-bar-middle hide-bar-middle"></div>
            <div class="hamburger-bar rotate-bar-bottom"></div>
          </div>
        </button>
      </div>

      <form>
        <select id="country-select" name="country" country-select-change>
          <option value="us" selected>US 🇺🇸</option>
          <option value="uk">UK 🇬🇧</option>
          <option value="jp">JP 🇯🇵</option>
          <option value="au">AU 🇦🇺</option>
        </select>
      </form>
    </div>
  </nav>

  <div id="dropdown-nav" class="dropdown-nav-expand">
    <a class="dropdown-link" href="#/games/">
      <p id="game-view-dropdown-link">Games</p>
    </a>
    <a class="dropdown-link" href="#/movies/">
      <p id="movie-view-dropdown-link">Movies</p>
    </a>
    <a class="dropdown-link" href="#/tv/">
      <p id="tv-view-dropdown-link">TV</p>
    </a>
  </div>

  <div id="dropdown-search-container">
    <form id="dropdown-search-form" ng-submit="getInput()">
      <div class="dropdown-search-grid-tile">
        <button id="dropdown-search-submit" type="submit" aria-label="submit search" tabindex="-1">
          <i class="fas fa-search dropdown-search-icon"></i>
        </button>
      </div>

      <div class="dropdown-search-grid-tile">
        <input id="dropdown-search-input" type="text" tabindex="-1"
        placeholder="enter a video game title..." ng-model="dropdownSearchInputVal"></input>
      </div>

      <div class="dropdown-search-grid-tile">
        <select id="media-search-select" name="media-search-select" tabindex="-1">
          <option value="games" selected>Games</option>
          <option value="movies">Movies</option>
          <option value="tv">TV</option>
        </select>
      </div>
    </form>
  </div>



<!-- ======================= MASTER VIEW CONTAINER ======================= -->
  <div ng-view autoscroll="true"></div>



<!-- =============================== FOOTER =============================== -->
  <footer id="footer">
    <ul id="attribution-list">
      <li class="attribution">
        <p class="attr-text">
          <span class="inline-text">Video game data provided by:</span>
        </p>
        <p class="attr-link">
          <a href="https://www.giantbomb.com/" target="_blank">Giant Bomb</a>
        </p>
        <p class="attr-link">
          <a href="https://www.giantbomb.com/api/" target="_blank">giantbomb.com/api</a>
        </p>
      </li>

      <li class="attribution">
        <p class="attr-text">
          <span class="inline-text">Movie & TV data provided by:</span>
        </p>
        <p class="attr-link">
          <a href="https://www.themoviedb.org/" target="_blank">The Movie Database</a>
        </p>
        <p class="attr-link">
          <a href="https://developers.themoviedb.org/" target="_blank">developers.themoviedb.org</a>
        </p>
      </li>

      <li class="attribution">
        <p class="attr-text">
          <span class="inline-text">Icons provided by:</span>
        </p>
        <p class="attr-link">
          <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>
        </p>
      </li>

      <li class="attribution">
        <p class="attr-text">
          <span class="inline-text">Fonts provided by:</span>
        </p>
        <p class="attr-link">
          <a href="https://fonts.google.com/" target="_blank">Google Fonts</a>
        </p>
      </li>
    </ul>

    <p id="footer-copyright">
      <span class="inline-text">© 2020 Chris McGraw. All rights reserved.</span>
    </p>

    <ul id="footer-link-list">
      <li class="footer-link">
        <a href="https://github.com/Chris-McGraw/" aria-label="Chris McGraw GitHub link" target="_blank">
          <i class="fab fa-github-square">
          </i>
        </a>
      </li>

      <li class="footer-link">
        <a href="https://codepen.io/cmcgraw/" aria-label="Chris McGraw Codepen link" target="_blank">
          <i class="fab fa-codepen">
          </i>
        </a>
      </li>
    </ul>
  </footer>



  <!-- Modules -->
  <script src="js/app.js"></script>

  <!-- Controllers -->
  <script src="js/controllers/HomeController.js"></script>

  <script src="js/controllers/GameController.js"></script>
  <script src="js/controllers/GameResultController.js"></script>
  <script src="js/controllers/GameDetailController.js"></script>

  <script src="js/controllers/MovieController.js"></script>
  <script src="js/controllers/MovieResultController.js"></script>
  <script src="js/controllers/MovieDetailController.js"></script>

  <script src="js/controllers/TvController.js"></script>
  <script src="js/controllers/TvResultController.js"></script>
  <script src="js/controllers/TvDetailController.js"></script>

  <!-- Directives -->
  <script src="js/directives/navbarDropdown.js"></script>
  <script src="js/directives/countrySelectChange.js"></script>

  <script src="js/directives/errSrc.js"></script>
  <script src="js/directives/detailErrSrc.js"></script>

  <script src="js/directives/featuredHero.js"></script>
  <script src="js/directives/mediaRow.js"></script>

  <script src="js/directives/searchGrid.js"></script>

  <script src="js/directives/starRating.js"></script>
  <script src="js/directives/castRow.js"></script>

  <!-- Services -->
  <script src="js/services/mediaView.js"></script>

  <script src="js/services/jsonPad.js"></script>
  <script src="js/services/gameApi.js"></script>
  <script src="js/services/movieApi.js"></script>
  <script src="js/services/tvApi.js"></script>

  <script src="js/services/fillMediaRow.js"></script>
  <script src="js/services/countrySelect.js"></script>

  <script src="js/services/localDate.js"></script>
  <script src="js/services/userSearch.js"></script>
  <script src="js/services/colorPalette.js"></script>



</body>
</html>
