* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;

  min-width: 0;
  margin: 0;
  padding: 0;

  font-size: 100%;
  list-style: none;

  box-sizing: border-box;
  border: 0;

  cursor: default;
}

body {
  background-color: #f8f8f8;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

a {
  color: white;
  text-decoration: none;

  cursor: pointer;
}

a:active {
  color: white;
}

p {
  color: black;
}



/* -------------------------------- NAVBAR -------------------------------- */
#navbar {
  z-index: 20;
  position: fixed;
  top: 0;

  width: 100%;
  height: 80px;

  background-color: black;
}

#navbar-inner {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 90%;
  max-width: 1440px;
  height: 80px;
  margin: auto;

  text-align: center;
  color: white;
}

#navbar-page-link-list {
  display: flex;
  align-items: center;

  position: absolute;

  height: 80px;
}

#navbar-page-link-list a {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

#navbar-page-link-list li:nth-child(2) {
  margin: 0 10px;
}

#drop-date-logo {
  display: inline-block;

  position: relative;
  top: 10px;

  height: 60px;
}

#drop-date-logo > img {
  height: 60px;

  cursor: pointer;
}

#navbar-inner > form {
  display: inline-flex;
  align-items: center;

  position: absolute;
  right: 0;

  width: auto;
  height: 80px;
}

#country-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  max-width: 100%;
  padding-left: 25px;

  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: left 10px top 55%, 0 0;
  background-size: 10px auto, 100%;
  border: 1px solid #aaa;

  cursor: pointer;
}

#country-select::-ms-expand {
  display: none;
}

#country-select > option {
  height: 40px;
}


/* ------------------------- MAIN BODY CONTAINER ------------------------- */
.view-main-container {
  position: relative;
  top: 80px;
}

.main-title {
  position: relative;

  margin-top: 40px;
  margin-bottom: 10px;

  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  color: black;
}

.main-title-btm {
  position: relative;

  margin-top: 10px;
  margin-bottom: 20px;

  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  color: black;
}

.view-inner-container {
  position: relative;
  left: 0;
  right: 0;

  width: 90%;
  height: auto;
  margin: auto;
}



/* ----------------------------- VIEW : HOME ----------------------------- */
#page-link-list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

#movie-page-link {
  margin: 0 10px;
}

.page-link {
  display: inline-block;
}

.change-view-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 0;
  right: 0;

  width: 160px;
  height: 80px;
  margin: auto;

  background-color: red;
  border: 1px solid black;
  border-radius: 4px;

  cursor: pointer;

  overflow: hidden;
}

.change-view-btn > p {
  position: absolute;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  color: white;

  cursor: pointer;
}

.change-view-btn > i {
  font-size: 80px;

  opacity: 0.4;
  cursor: pointer;
}

#tv-page-icon {
  font-size: 65px;
}

.recent-release-title {
  width: 100%;
  margin-top: 50px;

  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  color: black;
}

.media-row-title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: sans-serif;
  font-size: 20px;
  color: black;
}

.media-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;

  width: 100%;
  height: auto;
}

.media-tile {
  grid-column: span 1;

  border: 1px solid black;

  cursor: pointer;
}

.media-tile > li {
  cursor: pointer;
}

.media-img {
  width: 100%;
  height: 200px;

  background-color: black;

  object-fit: cover;
  /* border: 1px solid black; */
  border-bottom: 1px solid black;

  cursor: pointer;
}

.media-name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  margin-top: 6px;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;

  overflow: hidden;
  cursor: pointer;
}

.media-date {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  margin-top: 2px;
  margin-bottom: 6px;

  font-family: sans-serif;
  font-size: 14px;
  color: black;

  overflow: hidden;
  cursor: pointer;
}



/* --------------------------- SLIDING CAROUSEL --------------------------- */
#carousel-container {
  position: relative;
  left: 0;
  right: 0;

  width: 90%;
  max-width: 1440px;
  margin: auto;
  margin-top: 40px;
}

.carousel-main {
  display: flex;

  height: auto;
  width: 100%;

  user-select: none;

  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  /* scroll-behavior: smooth; */
}

.carousel-main::-webkit-scrollbar {
  width: 0 !important;
}

.carousel-tile {
  flex: 0 0 150px;

  height: auto;
  margin-right: 10px;

  background-color: white;
  border: 1px solid black;
}

/* .carousel-tile:last-child {
  margin-right: 0px !important;
} */

.carousel-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  position: absolute;

  width: 29px;
  height: 29px;

  background-color: black;
  border-radius: 100%;

  opacity: 0.8;
  cursor: pointer;
}

.carousel-scroll i {
  font-size: 25px;
  color: white;

  cursor: pointer;
}

.scroll-left {
  left: -4.4%;
}

.scroll-right {
  right: -4.4%;
}



/* --------------------------- VIEW : MEDIA HOME --------------------------- */
.home-feature-container {
  width: 100%;
  height: 422px;

  background-color: #f8f8f8;
  background-size: cover;
  /* background-image: url("https://image.tmdb.org/t/p/original/jUk4H1XYyMzdiNcF0VwNtEGrb1x.jpg"); */
}

#tv-home-hero-container {
  width: 100%;
  height: auto;

  background-color: #f8f8f8;
  background-size: cover;
  /* background-image: url("https://image.tmdb.org/t/p/original/jUk4H1XYyMzdiNcF0VwNtEGrb1x.jpg"); */
}

#movie-home-hero-container {
  width: 100%;
  height: auto;

  background-color: #f8f8f8;
  background-size: cover;
  /* background-image: url("https://image.tmdb.org/t/p/original/3Rfvhy1Nl6sSGJwyjb0QiZzZYlB.jpg"); */
}

#game-home-hero-container {
  width: 100%;
  height: auto;

  background-color: #f8f8f8;
  background-size: cover;
  /* background-image: url("https://www.giantbomb.com/api/image/original/2643969-wiiu_zelda_scrn02_e3.jpg"); */
}

.media-home-hero-inner {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 0;

  background-color: rgba(0,0,0, 0.4);
}

.media-search-title {
  color: white;

  text-shadow: 0rem 0em 0.2em black;
}

#media-search-form {
  text-align: center;
}

#media-search-input {
  width: 90%;
  max-width: 1440px;
  height: 40px;
  margin-bottom: 20px;

  font-family: sans-serif;
  font-size: 16px;
  color: black;

  border: 1px solid black;

  cursor: text;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 0;
  right: 0;

  width: 120px;
  height: 40px;
  margin: auto;
  margin-bottom: 80px;

  font-family: sans-serif;
  font-size: 16px;
  color: white;

  background-color: red;
  border: 1px solid black;
  border-radius: 4px;

  overflow: hidden;
  cursor: pointer;
}

.media-page-header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: black;
}



/* ---------------------------- VIEW : RESULTS ---------------------------- */
.user-search-query {
  position: relative;

  margin-top: -10px;
  margin-bottom: 80px;

  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  color: rgba(0,0,0, 0.6);
}

#result-page-container {
  position: relative;
  left: 0;
  right: 0;

  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.result-tile {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  position: relative;
  left: 0;

  width: 100%;
  max-width: 1000px;
  height: 200px;
  padding-right: 10px;
  margin-bottom: 80px;

  background-color: white;
  box-shadow: 0.4em 0.55em 0.45em #e5e5e5;

  cursor: pointer;
}

.result-tile:nth-child(1)::before {
  content: "";
  position: absolute;
  top: -40px;

  height: 1px;
  background-color: rgba(0,0,0, 0.2);
  width: 100%;

  pointer-events: none;
  cursor: default;
}

.result-tile::after {
  content: "";
  position: absolute;
  top: 240px;

  height: 1px;
  background-color: rgba(0,0,0, 0.2);
  width: 100%;

  pointer-events: none;
  cursor: default;
}

.result-tile-img-contain {
  grid-column: span 1;

  height: 200px;

  text-align: center;

  background-size: cover;
  background-position: center;
  background-color: black;

  cursor: pointer;
}

.result-media-img {
  max-width: 100%;
  height: 100%;

  object-fit: cover;

  cursor: pointer;
}

.result-tile-info-contain {
  grid-column: span 4;

  width: 100%;
  height: 200px;
  overflow: hidden;

  cursor: pointer;
}

.result-media-name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  font-family: sans-serif;
  font-size: 20px;
  color: black;

  overflow: hidden;
  cursor: pointer;
}

.result-media-overview {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;

  font-family: sans-serif;
  font-size: 12px;
  color: black;

  overflow: hidden;
  cursor: pointer;
}

.result-page-btn-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 10px;

  position: relative;
  top: -10px;

  width: 242px;
  height: 26px;
}

.result-page-btn {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  font-size: 12px;
  color: black;

  border: 1px solid black;

  user-select: none;
  cursor: pointer;
}

.current-page-search-results {
  display: inline;
  position: relative;
  top: 10px;
  left: 0;

  font-family: sans-serif;
  font-size: 12px;
  color: black;
}

.total-search-results {
  display: inline;
  position: relative;
  top: 10px;
  left: 5%;

  font-family: sans-serif;
  font-size: 12px;
  color: black;
}


/* ---------------------------- VIEW : DETAIL ---------------------------- */
#detail-img-background {
  position: relative;

  width: 100%;
  height: auto;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#detail-feature-container {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  padding: 40px 5%;

  color: white;
}

#detail-feature-container p {
  color: white;
}

#detail-feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  max-width: 1440px;
  margin: auto;
}

#media-detail-img-container {
  grid-column: span 1;

  display: flex;
  justify-content: center;

  text-align: center;

  border: 1px solid black;
}

.media-detail-img {
  width: auto;
  height: 498px;

  object-fit: cover;
}

#media-info-container {
  grid-column: span 2;

  max-height: 500px;

  border: 1px solid black;

  overflow-y: auto;
}

#media-info-container > h2 {
  margin-bottom: 10px;

  text-align: center;
  font-size: 20px;

  border-bottom: 1px solid black;
}

.media-info-tile {
  grid-column: span 1;

  margin-bottom: 10px;
}

#release-dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.release-note {
  font-size: 12px;
}

#production {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#user-rating {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#rating-count-header {
  font-size: 12px;
  font-weight: bold;
}

#rating-count {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

#genre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#overview-container {
  position: relative;
  left: 0;
  right: 0;

  width: 90%;
  max-width: 1440px;
  margin: auto;
  margin-top: 40px;
}

#cast-carousel {
  display: flex;

  height: auto;
  width: 100%;

  user-select: none;

  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
 }

#cast-carousel::-webkit-scrollbar {
  width: 0 !important;
}

.cast-img {
  width: 100%;
  height: 200px;

  background-color: black;

  object-fit: cover;
  border-bottom: 1px solid black;
}

.cast-name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  margin-top: 6px;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;

  overflow: hidden;
}

.cast-character {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  margin-top: 2px;
  margin-bottom: 6px;

  font-family: sans-serif;
  font-size: 14px;
  color: black;

  overflow: hidden;
}


/* -------------------------------- FOOTER -------------------------------- */
#footer {
  z-index: 10;
  position: relative;
  top: 120px;

  height: auto;
  width: 100%;
  margin-top: 40px;
  padding: 20px 5%;

  font-family: sans-serif;
  text-align: center;

  background-color: black;
}

#attribution-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;

  position: relative;
  left: 0;
  right: 0;

  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-bottom: 40px;
}

.attribution {
  grid-column: span 1;

  text-align: left;
  font-size: 14px;
}

.attr-text {
  /* margin-bottom: 20px; */
}

.attr-text p {
  display: inline;

  color: white;

  cursor: text;
}

.attr-link {
  margin-top: 10px;
}

.attr-link a {
  font-weight: bold;
  color: rgba(255,255,255, 0.6);

  cursor: pointer;
}

.attr-link a:hover {
  color: rgba(255,255,255, 1.0);
}

#footer-copyright {
  position: relative;

  margin-bottom: 10px;

  font-size: 16px;
  color: white;
}

#footer-link-list {
  width: auto;
  height: auto;
  margin: auto;
}

#footer-link-list > li:nth-child(1) {
  margin-right: 5px;
}

.footer-link {
  display: inline-block;

  opacity: 1.0;

  transition: opacity 300ms ease-in-out;
}

.footer-link-hovered {
  opacity: 0.5 !important;
}

.footer-link > a {
  color: white;
}

.footer-link > a > i {
  font-size: 18px;
  color: white;

  cursor: pointer;
}





/* -------------------------- MEDIA QUERY <= 1440 -------------------------- */
@media screen and (max-width: 1440px) {
  #carousel-container {
    width: 100%;

    padding-left: 5%;
    padding-right: 5%;
  }

  .scroll-left {
    left: 1%;
  }

  .scroll-right {
    right: 1%;
  }
}



/* -------------------------- MEDIA QUERY <= 1150 -------------------------- */
@media screen and (max-width: 1150px) {
  #detail-feature-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  #media-detail-img-container {
    grid-column: span 2;
  }

  #media-info-container {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY <= 900 -------------------------- */
@media screen and (max-width: 900px) {
  .attribution {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY <= 750 -------------------------- */
@media screen and (max-width: 750px) {
  .result-tile-img-contain {
    grid-column: span 2;
  }

  .result-tile-info-contain {
    grid-column: span 3;
  }

  #detail-feature-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  #media-detail-img-container {
    grid-column: span 4;
  }

  #media-info-container {
    grid-column: span 4;
  }
}



/* -------------------------- MEDIA QUERY <= 500 -------------------------- */
@media screen and (max-width: 500px) {
  .attribution {
    grid-column: span 4;
  }
}



/* -------------------------- MEDIA QUERY <= 350 -------------------------- */
@media screen and (max-width: 350px) {
  .home-feature-container {
    height: 468px;
  }
}
