* {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-touch-callout: none;

  min-width: 0;
  margin: 0;
  padding: 0;

  font-size: 100%;
  list-style: none;

  box-sizing: border-box;
  border: 0;

  cursor: default;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;

  font-family: sans-serif;
  font-size: 16px;
  color: black;

  border: 1px solid black;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

a {
  color: white;
  text-decoration: none;

  cursor: pointer;
}

a:active {
  color: white;
}

p {
  color: black;
}



/* -------------------------------- NAVBAR -------------------------------- */
#navbar {
  z-index: 20;
  position: fixed;
  top: 0;

  width: 100%;
  height: 80px;

  font-family: sans-serif;
  font-size: 60px;
  text-align: center;
  color: white;

  background-color: black;
}



/* ------------------------- MAIN BODY CONTAINER ------------------------- */
.view-main-container {
  position: relative;
  top: 80px;
}

.main-title {
  position: relative;

  margin-top: 20px;
  margin-bottom: 20px;

  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  color: black;
}

.view-inner-container {
  position: relative;
  left: 0;
  right: 0;

  width: 90%;
  height: auto;
  margin: auto;
}



/* ----------------------------- VIEW : HOME ----------------------------- */
#page-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#movie-page-link {
  margin: 0 10px;
}

.page-link {
  display: inline-block;
}

.change-view-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 0;
  right: 0;

  width: 160px;
  height: 80px;
  margin: auto;

  background-color: red;
  border: 1px solid black;
  border-radius: 4px;

  cursor: pointer;

  overflow: hidden;
}

.change-view-btn > p {
  position: absolute;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  color: white;

  cursor: pointer;
}

.change-view-btn > i {
  font-size: 80px;

  opacity: 0.4;
  cursor: pointer;
}

#tv-page-icon {
  font-size: 65px;
}

.recent-release-title {
  width: 100%;
  margin-top: 50px;

  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
  color: black;
}

.media-row-title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;

  font-family: sans-serif;
  font-size: 20px;
  color: black;
}

.media-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;

  width: 100%;
  height: auto;
}

.media-tile {
  grid-column: span 1;

  border: 1px solid black;

  cursor: pointer;
}

.media-tile > li {
  cursor: pointer;
}

.media-img {
  width: 100%;
  height: 200px;

  background-color: black;

  object-fit: cover;
  /* border: 1px solid black; */
  border-bottom: 1px solid black;

  cursor: pointer;
}

.media-name {
  margin-top: 6px;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;

  cursor: pointer;
}

.media-date {
  margin-top: 2px;
  margin-bottom: 6px;

  font-family: sans-serif;
  font-size: 14px;
  color: black;

  cursor: pointer;
}



/* --------------------------- SLIDING CAROUSEL --------------------------- */
#carousel-container {
  margin-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

.carousel-main {
  display: flex;

  height: auto;
  width: 100%;

  user-select: none;

  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  /* scroll-behavior: smooth; */
}

.carousel-main::-webkit-scrollbar {
  width: 0 !important;
}

.carousel-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  position: absolute;

  width: 29px;
  height: 29px;

  background-color: black;
  border-radius: 100%;

  opacity: 0.8;
  cursor: pointer;
}

.carousel-scroll i {
  font-size: 25px;
  color: white;

  cursor: pointer;
}

.scroll-left {
  left: 1%;
}

.scroll-right {
  right: 1%;
}



/* ----------------------------- VIEW : GAMES ----------------------------- */
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 0;
  right: 0;

  width: 120px;
  height: 40px;
  margin: auto;
  margin-bottom: 80px;

  font-family: sans-serif;
  font-size: 16px;
  color: white;

  background-color: red;
  border: 1px solid black;
  border-radius: 4px;

  overflow: hidden;
  cursor: pointer;
}

.media-page-header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: black;
}



/* ---------------------------- VIEW : RESULTS ---------------------------- */
#result-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  width: 100%;
}

.result-tile {
  grid-column: span 1;

  border: 1px solid black;

  cursor: pointer;
}

.result-tile-img-contain {
  width: 100%;
  height: 200px;

  background-size: cover;
  background-position: center;
  border-bottom: 1px solid black;

  cursor: pointer;
}

.result-tile-info-contain {
  width: 100%;

  cursor: pointer;
}

.result-tile-info-contain > p {
  font-family: sans-serif;
  font-size: 12px;
  color: black;

  cursor: pointer;
}


/* ---------------------------- VIEW : DETAIL ---------------------------- */
#detail-img-background {
  position: relative;

  width: 100%;
  height: auto;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#detail-feature-container {
  position: relative;
  top: 0;
  left: 0;

  width: 100%;
  padding: 40px 5%;

  color: white;
}

#detail-feature-container p {
  color: white;
}

#detail-feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  width: 100%;
}

#media-detail-img-container {
  grid-column: span 1;

  display: flex;
  justify-content: center;

  height: auto;
  max-height: 500px;

  text-align: center;

  border: 1px solid black;
}

.media-detail-img {
  max-width: 100%;
  height: 100%;
  max-height: 498px;

  object-fit: cover;
  /* border: 1px solid black; */
}

#media-info-container {
  grid-column: span 2;

  max-height: 500px;

  border: 1px solid black;

  overflow-y: auto;
}

#media-info-container > h2 {
  margin-bottom: 10px;

  text-align: center;
  font-size: 20px;

  border-bottom: 1px solid black;
}

.media-info-tile {
  grid-column: span 1;

  margin-bottom: 10px;
}

#release-dates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.release-note {
  font-size: 12px;
}

#production {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#user-rating {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#rating-count-header {
  font-size: 12px;
  font-weight: bold;
}

#rating-count {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

#genre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#overview-container {
  grid-column: span 3;

  margin-top: 40px;
  padding: 0 5%;
}

.cast-row {
  margin-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

#cast {
  margin-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}

/* #cast h3 {
  padding-left: 5%;
} */

#sliding-carousel {
  display: flex;

  height: auto;
  width: 100%;
  /* padding-left: 5%; */

  user-select: none;

  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
 }

#sliding-carousel::-webkit-scrollbar {
  width: 0 !important;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  position: absolute;

  width: 29px;
  height: 29px;

  background-color: black;
  border-radius: 100%;

  opacity: 0.8;
  cursor: pointer;
}

.carousel-slide i {
  font-size: 25px;
  color: white;

  cursor: pointer;
}

#carousel-slide-left {
  left: 1%;
}

#carousel-slide-right {
  right: 1%;
}

.carousel-tile {
  flex: 0 0 150px;

  height: auto;
  margin-right: 10px;

  border: 1px solid black;
}

/* .carousel-tile:last-child {
  margin-right: 0px !important;
} */

.cast-img {
  width: 100%;
  height: 200px;

  background-color: black;

  object-fit: cover;
  border-bottom: 1px solid black;
}

.cast-name {
  margin-top: 6px;

  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.cast-character {
  margin-top: 2px;
  margin-bottom: 6px;

  font-family: sans-serif;
  font-size: 14px;
  color: black;
}


/* -------------------------------- FOOTER -------------------------------- */
#footer {
  z-index: 10;
  position: relative;
  top: 120px;

  height: auto;
  width: 100%;
  margin-top: 40px;
  padding: 20px 40px;

  font-family: sans-serif;
  text-align: center;

  background-color: black;
}

#attribution-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;

  width: 100%;
  margin-bottom: 40px;
}

.attribution {
  grid-column: span 1;

  text-align: left;
  font-size: 14px;
}

.attr-text {
  /* margin-bottom: 20px; */
}

.attr-text p {
  display: inline;

  color: white;

  cursor: text;
}

.attr-link {
  margin-top: 10px;
}

.attr-link a {
  font-weight: bold;
  color: rgba(255,255,255, 0.6);

  cursor: pointer;
}

.attr-link a:hover {
  color: rgba(255,255,255, 1.0);
}

#footer-copyright {
  position: relative;

  margin-bottom: 10px;

  font-size: 16px;
  color: white;
}

#footer-link-list {
  width: auto;
  height: auto;
  margin: auto;
}

#footer-link-list > li:nth-child(1) {
  margin-right: 5px;
}

.footer-link {
  display: inline-block;

  opacity: 1.0;

  transition: opacity 300ms ease-in-out;
}

.footer-link-hovered {
  opacity: 0.5 !important;
}

.footer-link > a {
  color: white;
}

.footer-link > a > i {
  font-size: 18px;
  color: white;

  cursor: pointer;
}





/* -------------------------- MEDIA QUERY <= 1150 -------------------------- */
@media screen and (max-width: 1150px) {
  #detail-feature-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  #media-detail-img-container {
    grid-column: span 2;
  }

  #media-info-container {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY <= 900 -------------------------- */
@media screen and (max-width: 900px) {
  .attribution {
    grid-column: span 2;
  }
}



/* -------------------------- MEDIA QUERY <= 750 -------------------------- */
@media screen and (max-width: 750px) {
  #detail-feature-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  #media-detail-img-container {
    grid-column: span 4;
  }

  #media-info-container {
    grid-column: span 4;
  }
}



/* -------------------------- MEDIA QUERY <= 500 -------------------------- */
@media screen and (max-width: 500px) {
  .attribution {
    grid-column: span 4;
  }
}
