<main class="view-main-container">
  <div id="game-home-hero-container">
    <div class="media-home-hero-inner">
      <h1 class="main-title media-search-title">
        <span class="inline-text">Search Drop&nbsp;Date</span>
      </h1>
      <h1 class="main-title-btm media-search-title">
        <span class="inline-text">for Games:</span>
      </h1>

      <form id="media-search-form" ng-submit="getInput()">
        <input id="media-search-input" type="text"
        placeholder="enter a video game title..." ng-model="inputVal"></input>
        <button class="submit-btn" type="submit" touch-style-toggle>Search</button>
      </form>
    </div>
  </div>

  <h2 class="media-page-header">
    <span class="inline-text">Video Game Releases</span>
  </h2>
  <media-row media="games" type="recent" row-title="Recent"></media-row>
  <media-row media="games" type="upcoming" row-title="Upcoming"></media-row>
</main>
