<main class="view-main-container">
  <div id="game-home-hero-container">
    <div class="media-home-hero-inner">
      <h1 class="main-title media-search-title">
        <p>Search Drop&nbsp;Date</p>
      </h1>
      <h1 class="main-title-btm media-search-title">
        <p>for Games:</p>
      </h1>

      <form id="media-search-form" ng-submit="getInput()">
        <input id="media-search-input" type="text" ng-model="inputVal"></input>
        <button class="submit-btn" type="submit">{{ buttonText }}</button>
      </form>
    </div>
  </div>

  <h2 class="media-page-header">
    <p>Video Game Releases</p>
  </h2>
  <media-row media="games" type="recent" row-title="Recent"></media-row>
  <media-row media="games" type="upcoming" row-title="Upcoming"></media-row>
</main>
