<main class="view-main-container">
  <featured-hero></featured-hero>

  <div class="view-inner-container">
    <h2 class="recent-release-title">
      <span class="inline-text">Recent Releases</span>
    </h2>
  </div>

<!------------ GAMES ------------>
  <media-row media="games" type="recent" row-title="Video Games"></media-row>

<!------------ MOVIES ------------>
  <media-row media="movies" type="recent" row-title="Movies"></media-row>

<!---------- TELEVISION ---------->
  <media-row media="tv" type="recent" row-title="Television"></media-row>
</main>
