<main class="view-main-container">
  <h1 class="main-title">{{ title }}</h1>

  <div class="view-inner-container">
    <form action="#/games/" method="get">
        <button class="fake-button">{{ buttonText }}</button>
    </form>

    <h2 class="release-today-title">Recent Releases</h2>

<!------------ GAMES ------------>
    <h3 class="release-today-subtitle">Games</h3>
    <div class="release-today-row">
      <div class="release-today-tile" ng-style="{'background-image':'url({{ game.image.small_url }})'}"
      ng-repeat="game in games"></div>

      <div class="release-today-name" ng-repeat="game in games">
        <p>{{ game.name }}</p>
        <p>{{ game.release_date }}</p>
      </div>
    </div>

<!------------ MOVIES ------------>
    <h3 class="release-today-subtitle">Movies</h3>
    <div class="release-today-row">
      <div class="release-today-tile" ng-style="{'background-image':'url(http://image.tmdb.org/t/p/w185{{ movie.poster_path }})'}"
      ng-repeat="movie in movies | limitTo: 4"></div>

      <div class="release-today-name" ng-repeat="movie in movies | limitTo: 4">
        <p>{{ movie.title }}</p>
        <p>{{ movie.release_date }}</p>
      </div>
    </div>

<!---------- TELEVISION ---------->
    <h3 class="release-today-subtitle">TV Shows</h3>
    <div class="release-today-row">
      <div class="release-today-tile" ng-style="{'background-image':'url(http://image.tmdb.org/t/p/w185{{ show.poster_path }})'}"
      ng-repeat="show in shows | limitTo: 4"></div>

      <div class="release-today-name" ng-repeat="show in shows | limitTo: 4">
        <p>{{ show.name }}</p>
        <p>{{ show.first_air_date }}</p>
      </div>
    </div>

  </div>
</main>
