<main class="view-main-container">
  <h1 class="main-title">{{ title }}</h1>

  <div class="view-inner-container">
    <div id="detail-view-container">
      <div id="media-detail-img-container">
        <img class="media-detail-img" ng-src="{{ detail.img_path }}">
      </div>

      <div id="media-info-container">
        <h2>{{ detail.title }}</h2>

        <div id="release-dates">
          <p class="media-info-left">US Release Dates:</p>
          <div class="media-info-right">
            <div ng-repeat="release in releases">
              <p>{{ release.release_date | date:"MMM dd, yyyy":"UTC" }}</p>
              <p class="release-note">{{ release.release_type }}</p>
            </div>
          </div>
        </div>

        <div id="production">
          <p class="media-info-left">Production Companies:</p>
          <div class="media-info-right">
            <p ng-repeat="prod in production">{{ prod.name }}</p>
          </div>
        </div>

        <div id="user-rating">
          <p class="media-info-left">Average Rating:</p>
          <div class="media-info-right">
            <p>{{ detail.vote_average }}</p>
            <p>Numbers of Ratings:</p>
            <p>{{ detail.vote_count }}</p>
          </div>
        </div>

        <div id="genre">
          <p class="media-info-left">Genres:</p>
          <div class="media-info-right">
            <p ng-repeat="genre in genres">{{ genre.name }}</p>
          </div>
        </div>
      </div>

      <p id="overview">{{ detail.overview }}</p>
    </div>
  </div>
</main>
