<main class="view-main-container">
  <h1 class="main-title result-view-main-title">
    <span class="inline-text">Movie Search</span>
  </h1>
  <h1 class="main-title-btm">
    <span class="inline-text">Results For:</span>
  </h1>
  <h2 class="user-search-query">
    <span class="inline-text">"{{ searchQuery }}"</span>
  </h2>

  <form id="media-search-form" ng-submit="getInput()">
    <input id="media-search-input" type="text"
    placeholder="enter a movie title..." ng-model="inputVal"></input>
    <button class="submit-btn result-view-submit-btn" type="submit">Search</button>
  </form>

  <search-grid media="movies"></search-grid>
</main>
