<main class="view-main-container">
  <h1 class="main-title">{{ title }}</h1>

  <div class="view-inner-container">
    <div id="result-grid-container">
      <a class="result-tile" href="#/movies/detail/{{$index}}"
      ng-repeat="result in results | limitTo: 8">
        <div class="result-tile-img-contain"
        ng-style="{'background-image':'url(http://image.tmdb.org/t/p/w185{{ result.poster_path }})'}"></div>

        <div class="result-tile-info-contain">
          <p>{{ result.title }}</p>
          <p>{{ result.release_date}}</p>
        </div>
      </a>
    </div>
  </div>
</main>
