<main class="view-main-container">
  <h1 class="main-title">Search Drop&nbsp;Date</h1>
  <h1 class="main-title-btm">for TV:</h1>

  <div class="view-inner-container">
    <form ng-submit="getInput()">
      <input id="home-input" type="text" ng-model="inputVal"></input>
      <button class="submit-btn" type="submit">{{ buttonText }}</button>
    </form>
  </div>

  <h2 class="media-page-header">Television Releases</h2>
  <media-row media="tv" type="recent" title="Recent"></media-row>
  <media-row media="tv" type="upcoming" title="Upcoming"></media-row>
</main>
