<main class="view-main-container">
  <div id="detail-img-background">
    <section id="detail-feature-container">
      <div id="detail-feature-grid">
        <div id="media-detail-img-container">
          <img class="media-detail-img" ng-src="{{ detail.img_path }}">
        </div>

        <div id="media-info-container">
          <h2>{{ detail.name }}</h2>

          <div id="release-dates">
            <h3 class="media-info-tile">{{ selectedCountry }} Release Dates:</h3>
            <div class="media-info-tile">
              <p>{{ detail.release_date | date:"MMM dd, yyyy":"UTC" }}</p>
              <p class="release-note">{{ detail.release_tense }}</p>
            </div>
          </div>

          <div id="user-rating">
            <h3 class="media-info-tile">Average Rating:</h3>
            <div class="media-info-tile">
              <star-rating type="tv"></star-rating>
            </div>
          </div>

          <div id="production">
            <h3 class="media-info-tile">Production Companies:</h3>
            <div class="media-info-tile">
              <p ng-repeat="prod in productionList">{{ prod.name }}</p>
            </div>
          </div>

          <div id="genre">
            <h3 class="media-info-tile">Genres:</h3>
            <div class="media-info-tile">
              <p ng-repeat="genre in genreList">{{ genre.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div id="overview-container">
    <h3>Overview:</h3>
    <p>{{ detail.summary }}</p>
  </div>

  <cast-row type="tv"><cast-row>
</main>
