<section id="carousel-container">
  <h3>{{ rowTitle }}</h3>
  <p id="carousel-results-none">n/a</p>

  <div id="cast-carousel">
    <button class="carousel-scroll scroll-left" style="display:none"
    ng-click="scrollCarouselLeft($event)" aria-label="Scroll carousel left">
      <i class="fas fa-chevron-left"></i>
    </button>

    <div class="carousel-tile" ng-repeat="cast in castList | limitTo: 10" ng-init="$last && checkCarouselOverflow()">
      <img class="cast-img" ng-src="{{ cast.img_path }}"
      alt="{{ cast.name }} headshot">

      <p class="cast-name">{{ cast.name }}</p>
      <p class="cast-character">{{ cast.character }}</p>
    </div>

    <button id="carousel-scroll-right" class="carousel-scroll scroll-right" style="display:none"
    ng-click="scrollCarouselRight($event)" aria-label="Scroll carousel right">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</section>
