<section id="cast-carousel-container">
  <h3 class="cast-carousel-title">
    <span class="inline-text">{{ rowTitle }}</span>
  </h3>

  <p id="carousel-results-none">
    <span class="inline-text">n/a</span>
  </p>

  <div id="cast-carousel">
    <button class="carousel-scroll scroll-left" style="display:none"
    ng-click="scrollCarouselLeft($event)" aria-label="Scroll carousel left"
    touch-style-toggle>
      <i class="fas fa-chevron-left"></i>
    </button>

    <div class="cast-tile" ng-repeat="cast in castList | limitTo: 10" ng-init="$last && checkCarouselOverflow()">
      <img class="cast-img" ng-src="{{ cast.img_path }}"
      alt="{{ cast.name }} headshot" err-src>

      <p class="cast-name">
        <span class="inline-text">{{ cast.name }}</span>
      </p>
      <p class="cast-character">
        <span class="inline-text">{{ cast.character }}</span>
      </p>
    </div>

    <button id="carousel-scroll-right" class="carousel-scroll scroll-right" style="display:none"
    ng-click="scrollCarouselRight($event)" aria-label="Scroll carousel right"
    touch-style-toggle>
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</section>
