<div id="featured-hero-backdrop">
  <div id="featured-hero-inner">
    <section id="hero-carousel">
      <button class="hero-scroll hero-scroll-left" ng-click="decreaseHeroCarouselPage()"
      aria-label="scroll featured media carousel left" touch-style-toggle>
        <i class="fas fa-chevron-left"></i>
      </button>

      <a class="hero-media-img-container" href="{{ id_path }}"
      aria-label="featured {{ type }} link" touch-style-toggle>
        <img class="hero-media-img" ng-src="{{ img_path }}" draggable="false"
        alt="featured {{ type }} image" detail-err-src>
      </a>

      <div class="hero-media-info-container">
        <h3 class="hero-media-name">
          <a class="hero-media-name-link" href="{{ id_path }}"
          aria-label="featured {{ type }} link" touch-style-toggle>{{ name }}</a>
        </h3>

        <p class="hero-media-type">
          <a class="hero-media-type-link" href="{{ type_path }}" touch-style-toggle>
            <i class="fas fa-tags"></i>{{ type }}
          </a>
        </p>

        <p class="hero-media-release-date">
          <span class="inline-text">{{ release_date | date:"MMM dd, yyyy" }}</span>
        </p>

        <p class="hero-media-overview">
          <span class="inline-text">{{ overview }}</span>
        </p>
      </div>

      <button class="hero-scroll hero-scroll-right" ng-click="increaseHeroCarouselPage()"
      aria-label="scroll featured media carousel right" touch-style-toggle>
        <i class="fas fa-chevron-right"></i>
      </button>

      <div class="hero-carousel-page-select">
        <button id="hero-carousel-page-1" class="carousel-page-button"
        ng-click="changeHeroCarouselPage($event)" aria-label="featured media carousel page 1"
        touch-style-toggle>
          <div class="carousel-page-selected"></div>
        </button>

        <button id="hero-carousel-page-2" class="carousel-page-button"
        ng-click="changeHeroCarouselPage($event)" aria-label="featured media carousel page 2"
        touch-style-toggle>
          <div class="carousel-page-selected" style="display:none;"></div>
        </button>

        <button id="hero-carousel-page-3" class="carousel-page-button"
        ng-click="changeHeroCarouselPage($event)" aria-label="featured media carousel page 3"
        touch-style-toggle>
          <div class="carousel-page-selected" style="display:none;"></div>
        </button>
      </div>
    </section>
  </div>
</div>
