<section id="carousel-container">
  <h3 class="media-row-title">
    <span class="inline-text">{{ rowTitle }}</span>
  </h3>

  <h3 class="media-row-title-link">
    <a class="media-row-link" href="{{ rowLink }}" touch-style-toggle>{{ rowTitle }}</a>
  </h3>

  <div class="carousel-main">
    <button class="carousel-scroll scroll-left" style="display:none"
    ng-click="scrollCarouselLeft($event)" aria-label="Scroll {{ rowTitle }} release carousel left">
      <i class="fas fa-chevron-left"></i>
    </button>

    <a class="carousel-tile" href="{{ media.idPath }}"
    ng-repeat="media in mediaList | limitTo: 10" ng-init="$last && checkCarouselOverflow()"
    touch-style-toggle>
      <img class="media-img" ng-src="{{ media.imgPath }}" draggable="false"
      alt="{{ media.title }} image" err-src>

      <p class="media-name">{{ media.title }}</p>
      <p class="media-date">{{ media.release_date | date:"MMM dd, yyyy" }}</p>
    </a>

    <button class="carousel-scroll scroll-right" style="display:none"
    ng-click="scrollCarouselRight($event)" aria-label="Scroll {{ rowTitle }} release carousel right">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</section>
