<div id="result-page-container">
  <div id="empty-search-result" display="none">
    <h3>
      <span class="inline-text">{{ searchErrorText }}</span>
    </h3>
  </div>

  <a class="result-tile" href="{{ result.link }}"
  ng-repeat="result in results | limitTo: 10">

    <div class="result-tile-img-contain">
      <img class="result-media-img" ng-src="{{ result.img_path }}" draggable="false"
      alt="{{ result.name }} image" err-src>
    </div>

    <div class="result-tile-info-contain">
      <h3 class="result-media-name">{{ result.name }}</h3>
      <p class="result-media-overview">{{ result.overview }}</p>
    </div>
  </a>

  <ul id="result-page-btn-list">
    <a class="result-page-btn" href="{{ button.page_path }}&page={{$index + 1}}"
    ng-repeat="button in pageButtons | limitTo: 7">{{ button.number }}</a>
  </ul>

  <p class="current-page-search-results">
    <span class="inline-text">showing: {{ pageResultFirst }} - {{ pageResultLast }}</span>
  </p>
  <p class="total-search-results">
    <span class="inline-text">total results: {{ totalResults }}</span>
  </p>
</div>
