<div id="result-page-container">
  <a class="result-tile" href="{{ result.link }}"
  ng-repeat="result in results | limitTo: 10">

    <div class="result-tile-img-contain">
      <img class="result-media-img" ng-src="{{ result.img_path }}">
    </div>

    <div class="result-tile-info-contain">
      <h3 class="result-media-name">{{ result.name }}</h3>
      <p class="result-media-overview">{{ result.overview }}</p>
    </div>
  </a>

  <ul class="result-page-btn-list">
    <a class="result-page-btn" href="{{ button.page_path }}&page={{$index + 1}}"
    ng-repeat="button in pageButtons | limitTo: 7">{{ button.number }}</a>
  </ul>

  <p class="current-page-search-results">showing: {{ pageResultFirst }} - {{ pageResultLast }}</p>
  <p class="total-search-results">total results: {{ totalResults }}</p>
</div>
